body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    background-color: grey;
    color: #333333;
    padding: 0;
    margin: 0;
    height: 100dvh;
    overflow-y: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-box {
    background-color: #333333;
    border-radius: 15px;
    padding: 20px;
    margin: auto;
    width: 300px;
}

.inner-box {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    flex: 1;
}

#past-display {
    font-family: monospace;
    background-color: cadetblue;
    min-height: 60px;
    text-align: end;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#current-display {
    font-family: monospace;
    background-color: cadetblue;
    min-height: 60px;
    text-align: end;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 5px;
    overflow: hidden;
}

.first-row,
.second-row,
.third-row,
.forth-row,
.fifth-row {
    display: flex;
    flex: 1;
}

button {
    font-family: inherit;
    min-height: 70px;
    color: #333333;
    font-size: 30px;
}

@media (min-width: 900px) {
    button:hover {
        filter: brightness(80%);
    }
}

.button {
    background-color: orange;
    border: #333333 solid 2px;
    border-radius: 10px;
    text-align: center;
    flex: 1;
}

.digit {
    background-color: cadetblue;
    border: #333333 solid 2px;
    border-radius: 50%;
    text-align: center;
    flex: 1;
}

.button:active,
.digit:active {
    background-color: whitesmoke;
    filter: brightness(100%);
}